.vsdc-product-card__content--header .vs-heading {
    text-transform: none !important;
    letter-spacing: -0.01em !important;
    font-size: 1.4375rem !important;
}

.vs-megalink-multi-image .vs-megalink-multi-image__title {
    font-size: 1.4375rem !important;
    line-height: 1.2 !important;
    letter-spacing: -0.01em !important;
}

.vs-megalink-multi-image--featured .vs-megalink-multi-image__title {
    font-size: 1.8125rem !important;
}